body {
  background-color: #e9ebee;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Noto Sans Korean', sans-serif !important;
  text-shadow: 0 0 0.1px rgba(0,0,0,0.3);
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  letter-spacing: 0.7px;
}

.korean {
  font-family: "Nanum Gothic", sans-serif !important;
}
